@import "../sass/breakPoints";
.Menu {
  article {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1rem;
    padding: 0px !important;
  }
  div {
    padding: 0px;
  }

  img {
    cursor: pointer;
    object-fit: cover;
    border-radius: 1rem;
    max-width: 95%;
  }
}
