.Modal {  width: clamp(50%, 1000px, 90%);
  //   height: min(50%, 300px);
  height: 600px;
  margin: auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

  .wrapper {
    overflow: hidden;
    height: 543px;
    width: 508px;
  }

  img {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 21px;
    &:hover {
      color: black;
    }
  }
}
